@model IEnumerable<FSD_Helpderly.Models.ElderlyPost>
    <link rel="stylesheet" type="text/css" href="~/css/Volunteers.css">
@if (Model.ToList().Count > 0)
{
    <head>
        <link rel="stylesheet" href="~/css/Volunteers.css" />
    </head>
    <div class="table-responsive">
        <table id="viewStaff" class="table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Start Time</th>
                    <th>EndTime <br />
                    <th>Address</th>
                    <th>Quantity Volunteer</th>
                    <th>View Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.MobileNumber</td>
                    <td>@item.StartTime</td>
                    <td>@item.EndTime</td>
                    <td>@item.Location</td>
                    <td>@item.CurrentQuantityVolunteer / @item.QuantityVolunteer</td>
                    <td>
                        <a asp-action="CancelPost" asp-controller="Volunteer"
                           asp-route-formId="@item.FormID">Cancel</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}