@using Microsoft.AspNetCore.Http;

@model FSD_Helpderly.Models.ElderlyPost

@{
    ViewData["Title"] = "Accept";
    String date = Model.StartTime.ToString();
}
<head>
    <link rel="stylesheet" href="~/css/Volunteers.css" />
    <link rel="stylesheet" href="~/css/ViewTable.css" />
    <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
</head>

<div class="table-responsive">
    <br />
    <table id="viewStaff" class="table-striped table-bordered content-table">
        <tbody>
            <tr>
                <td>Name: </td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td>@Model.MobileNumber</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>@Model.Location</td>
            </tr>
            <tr>
                <td>Start Time</td>
                <td>@Model.StartTime</td>
            </tr>
            <tr>
                <td>End Time</td>
                <td>@Model.EndTime</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <td>Additonal Info</td>
                <td>@Model.AdditionalInfo</td>
            </tr>
            <tr>
                <td>Quantity Volunteer</td>
                <td>@Model.CurrentQuantityVolunteer / @Model.QuantityVolunteer</td>
            </tr>
        </tbody>
    </table>
    <br />
    <div class="Option">
        @if (Context.Session.GetString("Role") == "Volunteer")
        {

            <a asp-action="AcceptPost" asp-controller="Volunteer" asp-route-formId="@Model.FormID" class="btn btn-outline-primary">Accept Request</a>
        }
        else if (Context.Session.GetString("Role") == "Admin")
        {
            <a asp-action="DeletePost" asp-controller="Admin" asp-route-formId="@Model.FormID" class="btn btn-danger">Delete Request</a>
        }
        <a asp-action="ViewAllPosts" asp-controller="Home" class="btn btn-outline-primary">Back to List</a>
    </div>
</div>
