<div>
    @model IEnumerable<FSD_Helpderly.Models.ElderlyPost>

    <head>
        <link rel="stylesheet" href="~/css/Package3.css" />
    </head>
    <div class="table-responsive">
        <div class="unfilteredTable">
            <form asp-action="VolunteerViewPost" method="post">
                <label>Filer By Region:</label>
                <select type="text" id="region">
                    <option value="All">All</option>
                    <option value="North">North</option>
                    <option value="South">South</option>
                    <option value="East">East</option>
                    <option value="West">West</option>
                    <option value="Central">Central</option>
                </select>
                <button type="button" id="filter" class="btn btn-outline-primary" onclick="filterRegion()">Filter</button>
            </form>


            <table id="viewStaff" class="table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>AdditionalInfo</th>
                        <th>Description</th>
                        <th>Email</th>
                        <th>EndTime <br />
                        <th>Location</th>
                        <th>Mobile Number</th>
                        <th>Name</th>
                        <th>Quantity Volunteer</th>
                        <th>Region</th>
                        <th>Start Time</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.AdditionalInfo</td>
                            <td>@item.Description</td>
                            <td>@item.Email</td>
                            <td>@item.EndTime</td>
                            <td>@item.Location</td>
                            <td>@item.MobileNumber</td>
                            <td>@item.Name</td>
                            <td>@item.QuantityVolunteer</td>
                            <td>@item.Region</td>
                            <td>@item.StartTime</td>
                            <td>
                                <a asp-action="ViewPostDetails" asp-controller="Home"
                                   asp-route-id="@item.FormID">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

<script>
    function filterRegion() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("region");
        filter = input.value.toUpperCase();
        table = document.getElementById("viewStaff");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[8];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

